{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <center>
        <h1>EDUCATION SYSTEM</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Amet iure dignissimos veritatis, nostrum ad voluptatibus quisquam 
            consectetur molestiae repudiandae nihil inventore autem a officiis provident 
            quis saepe minima! Tenetur, molestiae. Lorem ipsum dolor sit amet consectetur
             adipisicing elit. Harum voluptates accusamus delectus quia ratione est qui
              assumenda voluptatem eaque. Earum, dignissimos! Nihil magni adipisci maiores earum 
              atque, reiciendis mollitia? Eligendi.</p>
        <img height="500px" width="500px" src="{% static 'image/book.jpg' %}" alt="">
    </center>
</body>
</html>
